<div class="columns">

    <div class="column is-12">

<!--         <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="../">Bulma</a></li>
                <li><a href="../">Templates</a></li>
                <li><a href="../">Examples</a></li>
                <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
            </ul>
        </nav> -->
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Estoque
                    </h1>
<!--                     <h2 class="subtitle">
                        Resumo
                    </h2> -->
                </div>
            </div>
        </section>
        <br>
		<table datatable [dtOptions]="dtOptions" class="row-border hover" data-page-length='30'></table>
    </div>
</div>