<div class="columns">

    <div class="column is-12">

<!--         <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="../">Bulma</a></li>
                <li><a href="../">Templates</a></li>
                <li><a href="../">Examples</a></li>
                <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
            </ul>
        </nav> -->
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Painel de controle
                    </h1>
<!--                     <h2 class="subtitle">
                        Resumo
                    </h2> -->
                </div>
            </div>
        </section>
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">R$ 30.000,00</p>
                        <p class="subtitle">Vendas</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">R$ 50.000,00</p>
                        <p class="subtitle">Compras</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">R$ 3.000,00</p>
                        <p class="subtitle">Dispesas</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">R$ -20.000,00</p>
                        <p class="subtitle">Lucro</p>
                    </article>
                </div>
<!--                 <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">19</p>
                        <p class="subtitle">Orçamento</p>
                    </article>
                </div> -->
            </div>
        </section>
        <div class="columns">

            <div class="column is-6">
                <div class="card events-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Vendas
                        </p>
                    </header>
                    <div class="card-table">
                        <div class="content">
                           <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Ver vendas</a>
                    </footer>
                </div>
            </div>
            <div class="column is-6">
                <div class="card events-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Despesas
                        </p>
                    </header>
                    <div class="card-table">
                        <div class="content">
                            <div id="chartContainer_percent" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Ver vendas</a>
                    </footer>
                </div>
            </div>

        </div>

    </div>
</div>
